.user-detail-card {
  margin: 2rem;
  mat-card-header {
    align-items: center;
  }
  &__content {
    &--user-name {
      display: flex;
      justify-content: center;
      word-break: break-all;
      margin-top: 2rem;
    }
    &--user-profile {
      display: flex;
      justify-content: center;
      word-break: break-all;
      margin-top: 2rem;
    }
    &--followers {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
    &--following {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
  }
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  .mat-badge-content {
    width: auto;
    display: grid;
    min-width: 2rem;
    min-height: 2.2rem;
    text-align: center;
    align-items: center;
    padding: 5px 3px;
    top: -2.2rem;
    right: -2.2rem;
  }
}
