<mat-card class="user-card" (click)="openDetails()">
  <mat-card-header>
    <div
      mat-card-avatar
      [ngStyle]="{
        'background-image': 'url(' + user?.avatar_url + ')',
        'background-size': 'cover'
      }"
    ></div>
    <mat-card-title>{{ user?.login }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <a
      [href]="'https://github.com/' + user?.login"
      target="_blank"
      
      >{{ "https://github.com/" + user?.login }}</a
    >
  </mat-card-content>
</mat-card>
